@import url('https://fonts.googleapis.com/css?family=Muli:300,400,600,800,900');

html, body {
    margin: 0;
    padding: 0;
    color: #121419;
    font-family: Muli, sans-serif;
    font-size: 16px;
    font-weight: 400;
    overflow-x: hidden;
    /* line-height: 1.7; */
  
  }

input {
  overflow: hidden;
}


#calendar {
    /* max-width: 1100px; */
    margin: 20px auto;
  } 

  .fc-toolbar-chunk:nth-child(2) {
    width: 40vw; 
  } 

  .fc-toolbar-chunk:nth-child(3) {
    text-align: center;
  }

  .fc-event {
    line-height: 2;
    white-space: normal; /* Allow text to wrap */
    height: auto !important; /* Ensure the event box height adjusts */
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Ensure content is stacked vertically */
    text-align: center;
}

/* Styles for the progress bar container */
.progress {
    height: 20px;
    background-color: #ebebeb; /* colour for the empty portion */
}

/* Styles for the inner progress bar */
.progress-bar {
    width: 65%; /* set to by dynamic in js */
    background-color: #9d9ad7; /* colour for the progress portion */
    line-height: 20px; /* Match the height of the progress bar for vertical centering */

}


/* modal */
body.modal-open {
  padding-right: 0 !important;
}

.modal-body {
  text-align: left;
}


