@import url('https://fonts.googleapis.com/css?family=Muli:300,400,600,800,900');

:root {
  --color-light-yellow: #fbd17d;
  --color-yellow: #fac660;
  --color-turquoise: #0eadbe;
  --color-light-blue: #6288c0;
  --color-blue: #377ba0;
  --color-dark-background: #121212; /* dark background color */
  --color-text: #E0E0E0; /* primary text color */
}

body {
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #E0E0E0;
    font-family: Muli, sans-serif;
    font-size: 16px;
    font-weight: 400;
    overflow-x: hidden;  
}

input {
  overflow: hidden;
}

/* Accent text colors */
/* h1, h2, h3, h4, h5, h6 {
  color: var(--color-blue);
} */

a {
  color: var(--color-blue);
}

a:hover {
  color: var(--color-turquoise);
}

/* Navigation Bar */
.navbar {
  background-color: #12181c;
  color: #E0E0E0;
}
.navbar-nav .nav-item + .nav-item {
  border-left: 1px solid #a4a4a4; /* Adjust the color to fit your theme */
  padding-left: 10px; /* Adjust the padding as needed */
  margin-left: 10px; /* Adjust the margin as needed */
}

.navbar a {
  color: var(--color-text);
}
.navbar a:hover {
  color: var(--color-light-yellow);
}




/* Ensure the calendar fills the remaining viewport height */
#calendar-container {
  display: flex;
  flex-direction: column;
  /* height: 120vh;  */
}

#calendar {
  flex: 1 1 auto;
  overflow: hidden; /* Prevent overflow */;
}


/* full calendar custom config */

/* Fixed height for FullCalendar day cells */
/* Set the height of each day cell. The height is fixed, 
and the cell is displayed as a flex container to manage the layout of its children. */
.fc-daygrid-day-frame {
  height: 100px; 
  display: flex;
  flex-direction: column;
}
/* This ensures the top part of the cell (which contains the date) does not get stretched. */
.fc-daygrid-day-top {
  flex: 0 0 auto;
}
/* This makes sure that the events section can grow and shrink as needed, and if it overflows, it will be hidden. */
.fc-daygrid-day-events {
  flex: 1 1 auto;
  overflow: hidden;
}

/* Date numbers */
.fc-daygrid-day-number {
  color: #E0E0E0;
  font-weight: normal;
  text-decoration: none; /* Remove underline */
}
/* Disable hover change */
.fc-daygrid-day-number:hover {
  color: #E0E0E0;
}


/* Today's cell background */
.fc-day-today {
  background-color: #352e39 !important;
}

/* Event text */
.fc-h-event .fc-event-main {
  color: #cfcccc;
}

.fc-event {
  background-color: #515268 !important;
  border: none;
  color: #121212 !important;
  line-height: 1.2;
  white-space: normal; /* Allow text to wrap */
  padding: 5px;
  justify-content: center;
  flex-direction: column; /* Ensure content is stacked vertically */
  text-align: center;
  font-size: 14px;
}

.fc-event:hover {
  background-color: #88cfc8 !important;
  border-color: #88cfc8 !important;
}

.fc .fc-event:focus, .fc .fc-event:active {
  outline: none !important; /* Remove the default outline */
  box-shadow: none !important; /* Remove the box shadow */
}



/* Define colors for different body focuses with high specificity */
.focus-full {
  background-color: #95a1e2 !important; /* Light blue */
  border-color: #95a1e2 !important;
  color: #000 !important;
}

.focus-upper {
  background-color: #f5b3b0 !important; /* Light pink */
  border-color: #f5b3b0  !important;
  color: #000 !important;
}

.focus-lower {
  background-color: #d8acc8 !important; /* Peach */
  border-color: #d8acc8 !important;
  color: #000 !important;
}

.focus-core {
  background-color: #e8b0ae !important; /* Coral pink */
  border-color: #e8b0ae !important;
  color: #000 !important;
}

.focus-cardio {
  background-color: #ffcf70 !important; /* Yellow */
  border-color: #ffcf70 !important;
  color: #000 !important;
}

/* Apply the color to the main event element */
.fc-event.focus-full .fc-event-main,
.fc-event.focus-upper .fc-event-main,
.fc-event.focus-lower .fc-event-main,
.fc-event.focus-core .fc-event-main,
.fc-event.focus-cardio .fc-event-main {
  background-color: inherit !important;
  border-color: inherit !important;
  color: inherit !important;
}


/* Styling for the day names (Sun, Mon, etc.) */
.fc-col-header-cell-cushion {
  color: #bab9b9;
  text-decoration: none; 
  font-weight: bold; 
}
.fc-col-header-cell-cushion:hover {
  color: #bab9b9;
  text-decoration: none; /* Ensure no underline on hover */
}


/* Calendar header (month, day names) */
.fc-toolbar-title, .fc-col-header-cell {
  color: var(--color-text);
}

/* header */
.fc-toolbar-chunk:nth-child(2) {
  width: 40vw; 
} 
.fc-toolbar-chunk:nth-child(3) {
  text-align: center;
}

/* FullCalendar toolbar buttons */
.fc-toolbar .fc-button-primary {
  background-color: #e89bb0;
  border-color:  #8a5765; 
  border-width: 0px;
  color: #121212;
  font-weight: normal;
}

.fc-toolbar .fc-button-primary:hover {
  background-color: #c46a83;
  border-color:  #a47b86; 
  border-width: 0px;
}

/* Ensure the button colors remain consistent when active */
.fc .fc-button.fc-button-primary:active, 
.fc .fc-button.fc-button-primary:focus, 
.fc .fc-button.fc-button-primary:active:focus {
  background-color: #c46a83 !important; /* or your desired color */
  border-color: #c46a83 !important;
  color: #121212 !important;
}

/* Styles for the disabled state of the "today" button */
.fc-toolbar .fc-button:disabled {
  background-color: #7e638e; 
  border-color: #7d5a91; 
  border-width: 2px;
  color: #E0E0E0; 
  opacity: 0.5; 

}

/*  inner borders  */
/* .fc .fc-col-header-cell,
.fc .fc-daygrid-day {
  border-color: #676767; 
  border-width: 1px;
  border-style: solid;
} */


/* Specifically target the outer container to remove any border */
.fc .fc-scrollgrid,
.fc .fc-scrollgrid-liquid,
.fc .fc-view-harness,
.fc .fc-view,
.fc .fc {
    border: none !important;
    box-shadow: none !important;
}
/* Remove any default box shadows or borders that might be applied globally */
.fc, .fc *, .fc ::after, .fc ::before {
  border: none !important;
  box-shadow: none !important;
}

/* Add bottom borders to rows in the day grid */
.fc-daygrid-body tr {
  border-bottom: 1px solid #ddd !important; /* Adjust color as needed */
}
/* Ensure the last row does not have a bottom border */
.fc-daygrid-body tr:last-child {
  border-bottom: none !important;
}
/* Add a border between the day names and date cells */
.fc .fc-col-header-cell {
  border-bottom: 1px solid #ddd !important; /* Adjust color as needed */
}


/* Bootstrap button styles */
.btn {
  text-decoration: none; /* Remove underline */
}

.btn-primary {
  background-color: var(--color-turquoise);
  color: var(--color-text);
  border: none;
  /* text-decoration: none;  Remove underline */
}

.btn-primary:hover {
  background-color: #4B00B3;
  border-color: #4B00B3;
}

.btn-secondary {
  background-color: var(--color-light-blue);
  color: var(--color-text);
  border: none;
  /* text-decoration: none;  Remove underline */
}

.btn-secondary:hover {
  background-color: #029A8A;
  border-color: #029A8A;
}

.btn-danger {
  background-color: var(--color-yellow);
  color: var(--color-text);
  border: none;
}



/* Progress Bar */
/* Styles for the progress bar container */
.progress {
    height: 20px;
    background-color: #ebebeb; /* colour for the empty portion */
}

/* Styles for the inner progress bar */
.progress-bar {
    width: 65%; /* set to be dynamic in js */
    background-color: #9d9ad7; /* colour for the progress portion */
    line-height: 20px; /* Match the height of the progress bar for vertical centering */

}



/* Modal */
/* .modal {
  background-color: var(--color-dark-background);
  color: var(--color-text);
} */
body.modal-open {
  padding-right: 0 !important;
}
.modal-body {
  text-align: left;
}

/* offcanvas */
.offcanvas-footer {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-end;
  flex-grow: 1;
  padding: var(--bs-offcanvas-padding-y) var(--bs-offcanvas-padding-x);
  overflow-y: auto;
}


/* Flash message styles for dark theme */
.alert {
  background-color: #c9b9df;
  color: #2f2b2b; 
  border: 1px solid #6b5d73; 
  padding: 1rem;
}


/* Responsive styles */
/* Default padding for large viewports */
.container {
  padding-top: 5rem; /* 5 * 1rem = 5 * 16px = 80px */
  padding-bottom: 5rem; 
  padding-left: 3rem; 
  padding-right: 3rem;
}

/* Reduced padding for medium viewports */
@media (max-width: 991.98px) {
  .container {
      padding-top: 3rem; /* Adjust this value as needed */
      padding-bottom: 3rem; 
      padding-left: 2rem; 
      padding-right: 2rem;
  }
}

/* Reduced padding for small viewports */
@media (max-width: 767.98px) {
  .container {
      padding-top: 2rem; /* Adjust this value as needed */
      padding-bottom: 2rem; 
      padding-left: 1rem; 
      padding-right: 1rem;
  }
}



/* Media query for smaller viewports  */
@media (max-width: 992px) {
  #calendar-container {
      height: 110vh; 
  }

}
@media (max-width: 480px) {
  #calendar-container {
      height: 80vh; 
  }
  .fc-daygrid-day-frame {
      height: 80px; 
  }
  .fc-daygrid-day-number {
    font-size: 14px;
    font-weight: normal;
  }
  .fc-event {
    font-size: 10px;
  }
  /* no progress bar at calendar header */
  .fc-toolbar-chunk:nth-child(2) {
    width: 0vw; 
  }
  /* Styling for the day names (Sun, Mon, etc.) */
  .fc-col-header-cell-cushion { 
    font-weight: bold; 
  }
  .fc .fc-toolbar-title {
    font-size: 1.3em;
    font-weight: bold;
    margin: 0px;
  }
  .fc-toolbar .fc-button, .fc-toolbar .fc-button-primary, .fc-toolbar .fc-button-primary:hover {
    padding: 5px 5px; /* Reduced padding */
    font-size: 0.8rem; /* Reduced font size */
    font-weight: bold;
  }

}