@import url('https://fonts.googleapis.com/css?family=Muli:300,400,600,800,900');

body {
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #E0E0E0;
    font-family: Muli, sans-serif;
    font-size: 16px;
    font-weight: 400;
    overflow-x: hidden;
    /* line-height: 1.7; */
  
}

input {
  overflow: hidden;
}


.navbar {
  background-color: #201e21;
  color: #E0E0E0;
}

.navbar a {
  color: #c46a83;
}

.navbar a:hover {
  color: #e89bb0;
}

.navbar .navbar-toggler {
  background-color: #8a5765;
}


/* Ensure the calendar fills the remaining viewport height */
#calendar-container {
  display: flex;
  flex-direction: column;
  /* height: 120vh;  */
}

#calendar {
  flex: 1 1 auto;
  overflow: hidden; /* Prevent overflow */
}


/* full calendar custom config */

/* Fixed height for FullCalendar day cells */
/* Set the height of each day cell. 
The height is fixed, and the cell is displayed as a flex container to 
manage the layout of its children. */
.fc-daygrid-day-frame {
  height: 100px; 
  display: flex;
  flex-direction: column;
}
/* This ensures the top part of the cell (which contains the date) does not get stretched. */
.fc-daygrid-day-top {
  flex: 0 0 auto;
}
/* This makes sure that the events section can grow and shrink as needed, and if it overflows, it will be hidden. */
.fc-daygrid-day-events {
  flex: 1 1 auto;
  overflow: hidden;
}

/* Date numbers */
.fc-daygrid-day-number {
  color: #E0E0E0;
  font-weight: normal;
  text-decoration: none; /* Remove underline */
}


/* Today's cell background */
.fc-day-today {
  background-color: #6b5d73 !important;
}

/* Event background and text */
.fc-h-event .fc-event-main {
  color: #3c3535;
}

.fc-event {
  background-color: #c9879a !important;
  border: none;
  color: #121212 !important;
  line-height: 1.2;
  white-space: normal; /* Allow text to wrap */
  padding: 5px;
  justify-content: center;
  flex-direction: column; /* Ensure content is stacked vertically */
  text-align: center;
  font-size: 14px;
}

.fc-event:hover {
  background-color: #8a5765 !important; /* Darker purple for hover effect */
}


/* Styling for the day names (Sun, Mon, etc.) */
.fc-col-header-cell-cushion {
  color: #E0E0E0;
  text-decoration: none; 
  font-weight: bold; 
}
.fc-col-header-cell-cushion:hover {
  text-decoration: none; /* Ensure no underline on hover */
}



/* Calendar header (month, day names) */
.fc-toolbar-title, .fc-col-header-cell {
  color: #ddcbcb;
}

/* header */
.fc-toolbar-chunk:nth-child(2) {
  width: 35vw; 
} 
.fc-toolbar-chunk:nth-child(3) {
  text-align: center;
}

/* FullCalendar toolbar buttons */
.fc-toolbar .fc-button-primary {
  background-color: #e89bb0;
  border-color:  #8a5765; 
  border-width: 0px;
  color: #121212;
  font-weight: normal;
}

.fc-toolbar .fc-button-primary:hover {
  background-color: #c46a83;
  border-color:  #a47b86; 
  border-width: 0px;
}

/* Styles for the disabled state of the "today" button */
.fc-toolbar .fc-button:disabled {
  background-color: #8c63a3; 
  border-color: #7d5a91; 
  border-width: 2px;
  color: #E0E0E0; 
  opacity: 0.5; 

}
/* Bootstrap button styles */
.btn {
  text-decoration: none; /* Remove underline */
}

.btn-primary {
  background-color: #6200EA;
  border-color: #6200EA;
  color: #FFFFFF;
  text-decoration: none; /* Remove underline */
}

.btn-primary:hover {
  background-color: #4B00B3;
  border-color: #4B00B3;
}

.btn-secondary {
  background-color: #03DAC6;
  border-color: #03DAC6;
  color: #121212;
  text-decoration: none; /* Remove underline */
}

.btn-secondary:hover {
  background-color: #029A8A;
  border-color: #029A8A;
}



/* Progress Bar */
/* Styles for the progress bar container */
.progress {
    height: 20px;
    background-color: #ebebeb; /* colour for the empty portion */
}

/* Styles for the inner progress bar */
.progress-bar {
    width: 65%; /* set to by dynamic in js */
    background-color: #9d9ad7; /* colour for the progress portion */
    line-height: 20px; /* Match the height of the progress bar for vertical centering */

}



/* modal */
body.modal-open {
  padding-right: 0 !important;
}

.modal-body {
  text-align: left;
}

/* offcanvas */
.offcanvas-footer {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-end;
  flex-grow: 1;
  padding: var(--bs-offcanvas-padding-y) var(--bs-offcanvas-padding-x);
  overflow-y: auto;
}


/* Flash message styles for dark theme */
.alert {
  background-color: #c9b9df;
  color: #2f2b2b; 
  border: 1px solid #6b5d73; 
  padding: 1rem;
}


/* Responsive styles */
/* Default padding for large viewports */
.container {
  padding-top: 5rem; /* 5 * 1rem = 5 * 16px = 80px */
  padding-bottom: 5rem; 
  padding-left: 3rem; 
  padding-right: 3rem;
}

/* Reduced padding for medium viewports */
@media (max-width: 991.98px) {
  .container {
      padding-top: 3rem; /* Adjust this value as needed */
      padding-bottom: 3rem; 
      padding-left: 2rem; 
      padding-right: 2rem;
  }
}

/* Reduced padding for small viewports */
@media (max-width: 767.98px) {
  .container {
      padding-top: 2rem; /* Adjust this value as needed */
      padding-bottom: 2rem; 
      padding-left: 1rem; 
      padding-right: 1rem;
  }
}



/* Media query for smaller viewports  */
@media (max-width: 992px) {
  #calendar-container {
      height: 110vh; 
  }

}
@media (max-width: 480px) {
  #calendar-container {
      height: 80vh; 
  }
  .fc-daygrid-day-frame {
      height: 80px; 
  }
  .fc-daygrid-day-number {
    color: #E0E0E0;
    font-size: 14px;
    font-weight: normal;
  }
  .fc-event {
    font-size: 10px;
  }
  /* no progress bar at calendar header */
  .fc-toolbar-chunk:nth-child(2) {
    width: 0vw; 
  }
  /* Styling for the day names (Sun, Mon, etc.) */
  .fc-col-header-cell-cushion { 
    font-weight: bold; 
  }

}