{% extends "layout.html" %}

{% block title %}
    Calendar
{% endblock %}
  
{% block main %}

<!-- Calendar Container -->
<div id="calendar-container">
  <div id="calendar"></div>
</div>

<!-- TODO: add alert after logging etc -->
<div id='alert'></div>

<!-- offcanvas workout details -->
<div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="detail-canvas" aria-labelledby="workout-detailsLabel">

  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="workout-detailsLabel">Workout Details</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>

  <div class="offcanvas-body">
    <!-- workout details will be displayed here -->
    <div id="workout-details" class="mb-3"></div>
  </div>

  <div class="offcanvas-footer">
    <div class="">
      <!-- <div class="btn-group dropup" role="group">
        <button type="button" class="btn btn-secondary-2 me-2 dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Edit
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#" disabled>Delete exercise</a></li>
          <li><a class="dropdown-item" href="#">Edit exercises</a></li>
          <li><a class="dropdown-item" href="#">Edit workout</a></li>
        </ul>
      </div> -->
      <button class="btn btn-secondary-2 me-2" type="button" id="edit-workout">Edit</button>
      <button class="btn btn-outline-danger" type="button" id="delete-workout">Delete Workout</button>
    </div>
  </div>

</div>


<!-- Log Modal -->
<!-- First Modal -->
<div class="modal fade" id="workout-modal" tabindex="-1" aria-labelledby="logEditModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <div class="modal-header">
          <h1 class="modal-title fs-5" id="workout-header">Log Workout</h1>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <form id="workout-form">

            <div class="form-floating mb-3">
              <input type="date" class="form-control" id="date" required>
              <label for="date" class="col-form-label">Date</label>
            </div>

            <div class="row g-2">
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="duration-min" required>
                        <label for="duration-min" class="col-form-label">Duration (min)</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="calories-burned">
                        <label for="calories-burned" class="col-form-label">Calories (optional)</label>
                    </div>
                </div>
            </div>

            <div class="form-floating mb-3">
              <textarea class="form-control" id="workout-name" placeholder="Enter workout" required></textarea>
              <label for="workout-name">Workout</label>
            </div>

            <div class="row g-2">
                <div class="col">
                    <div class="form-floating mb-3">
                        <select class="form-select" id="workout-type" aria-label="workout type select">
                        <option selected value="strength">Strength / Weights</option>
                        <option value="cardio">Cardio</option>
                        <option value="yoga_pilates">Yoga / Pilates</option>
                        <option value="stretch">Stretching</option>
                        </select>
                        <label for="workout-type">Type</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <select class="form-select" id="body-focus-1" aria-label="body focus select">
                        <option selected value="full">Full body</option>
                        <option value="lower">Lower body</option>
                        <option value="upper">Upper body</option>
                        </select>
                        <label for="body-focus">Body focus</label>
                    </div>
                </div>
            </div>

        </div>
            <div class="modal-footer border-secondary">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" id="log-exercise-button" disabled class="btn btn-primary" data-bs-target="#exercise-modal" data-bs-toggle="modal">Log individual exercise</button>
                <button type="submit" id="save-button" class="btn btn-success">Log Workout</button>

            </div>
        </div>

        </form>

    </div>
</div>

<!-- Second modal (log individual exercise) -->
<div class="modal custom-modal-padding fade" id="exercise-modal" aria-hidden="true" aria-labelledby="exerciseLogModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exercise-header">Log Exercise</h1>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <form id="exercise-form">

          <div class="form-floating mb-3">
            <select class="form-select" id="body-focus-2" aria-label="body focus select">
            <option value="full">Full body</option>
            <option value="lower">Lower body</option>
            <option value="upper">Upper body</option>
            </select>
            <label for="body-focus">Body focus</label>
          </div>

          <div class="form-floating mb-3">
            <select class="form-select" id="exercise-id" aria-label="Select exercise">
              <option selected>Select exercise</option>
              <!-- Options will be populated dynamically -->
            </select>
            <label for="exercise-id">Exercise</label>
          </div>
        
          <div class="row g-2">
            <div class="col">
              <div class="form-floating mb-3">
                <input type="number" class="form-control" id="sets" required>
                <label for="sets" class="col-form-label">Sets</label>
              </div>
            </div>
            <div class="col">
              <div class="form-floating mb-3">
                <input type="number" class="form-control" id="reps" required>
                <label for="reps" class="col-form-label">Reps</label>
              </div>
            </div>
            <div class="col">
              <div class="form-floating mb-3">
                <input type="number" step="0.01" class="form-control" id="weight" required>
                <label for="weight" class="col-form-label">Weight (kg)</label>
              </div>
            </div>
          </div>
      </div>

      <div class="modal-footer border-secondary">
        <button type="button" class="btn btn-secondary" data-bs-target="#workout-modal" data-bs-toggle="modal">Back</button>
        <button id="log-more" type="submit" class="btn btn-primary">Log more exercise</button>
        <button id="workout-done" type="submit" class="btn btn-success">Workout done!</button>
      </div>
        </form>
    </div>
  </div>
</div>

{% endblock %}
