<div class="mb-3">
    <p style="font-size: 1.15rem; font-weight: bold;">{{ event.date.strftime("%d").lstrip('0') }} {{ event.date.strftime("%B %Y") }}</p>
</div>
<div class="mb-3">
    <p style="font-size: 1.15rem;"">{{ event.workout_name | capitalise }}</p>
    <img src="{{ url_for('static', filename='images/time.png') }}" alt="duration icon" class="small-icon">
    {{ event.duration_min }} min 
    {% if event.workout_type == 'yoga_pilates' %}
        {{'Stretch & Strengthen'}}
    {% else %}
        {{ event.workout_type | capitalise }}
    {% endif %}<br>
    <img src="{{ url_for('static', filename='images/muscle.png') }}" alt="body focus icon" class="small-icon">
    Focus : {{ event.body_focus | capitalise }} Body<br>
    {% if event.calories_burned %}
        <img src="{{ url_for('static', filename='images/calories.png') }}" alt="calories icon" class="small-icon">
        {{ event.calories_burned }} cal<br>
    {% endif %}
</div>

<div class="mb-3">
    {% if exercises %}
    <table class="table table-dark">
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Exercise</th>
              <th scope="col">Sets</th>
              <th scope="col">Reps</th>
              <th scope="col">Weight</th>
            </tr>
        </thead>
        <tbody>
        {% for exercise in exercises %}
            {% set exercise_details = exercise.info_exercise %} <!-- the relationship is set up in the models -->
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ exercise_details.name | default('Exercise not found') | capitalise }}</td>
                <td>{{ exercise.sets }}</td>
                <td>{{ exercise.reps }}</td>
                {% if exercise.weight_kg == 0 %}
                    <td>bodyweight</td>
                {% else %}
                    <td>{{ exercise.weight_kg | format_weight }} kg</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="mb-3">
        <p>
            <strong>Muscle groups :</strong>
            <br>
            {% if muscle_groups %}
                {{ muscle_groups | join(', ') }}
            {% else %}
                <p>No muscle groups found for this workout.</p>
            {% endif %}
        </p>
        <p>
            <strong>Secondary muscle groups :</strong>
            <br>
            {% if secondary_muscle_groups %}
                {{ secondary_muscle_groups | join(', ') }}
            {% else %}
                none.
            {% endif %}
        </p>
    </div>

    {% else %}
        <p>Good job :)</p>
    {% endif %}
</div>
