<div class="mb-3">
    <strong>{{ event.date.strftime("%d").lstrip('0') }} {{ event.date.strftime("%B %Y") }}</strong><br>
    {{ event.workout_name | capitalise }}<br>
    {{ event.duration_min }} min {{ event.workout_type | capitalise }}<br>
    {{ event.body_focus | capitalise }} Body<br>
    {% if event.calories_burned %}
        {{ event.calories_burned }} cal<br>
    {% endif %}
</div>

<div class="mb-3">
    {% if exercises %}
    <table class="table table-dark">
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Exercise</th>
              <th scope="col">Sets</th>
              <th scope="col">Reps</th>
              <th scope="col">Weight</th>
            </tr>
        </thead>
        <tbody>
        {% for exercise in exercises %}
            {% set exercise_details = exercise.info_exercise %} <!-- the relationship is set up in the models -->
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ exercise_details.name | default('Exercise not found') |  capitalise }}</td>
                <td>{{ exercise.sets }}</td>
                <td>{{ exercise.reps }}</td>
                <td>{{ exercise.weight_kg }} kg</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="mb-3">
        <p>
            <strong>Muscle groups worked:</strong>
            <br>
            {% if muscle_groups %}
                {{ muscle_groups | join(', ') }}
            {% else %}
                <p>No muscle groups found for this workout.</p>
            {% endif %}
        </p>
        <p>
            <strong>Secondary muscle groups worked:</strong>
            <br>
            {% if secondary_muscle_groups %}
                {{ secondary_muscle_groups | join(', ') }}
            {% else %}
                none.
            {% endif %}
        </p>
    </div>

    {% else %}
        <p>No individual exercises logged for this workout.</p>
    {% endif %}
</div>
